// _masterbrand.scss
@use 'colors'; // Assuming _colors.scss is in the same directory and contains the color variables

@font-face {
  font-family: Frutiger-light;
  src: url(/typography/frutiger/FrutigerLTStd-Light.woff) format(woff);
}
header {
  // font-family: 'FrutigerLTStd', Open Sans Light, Arial, Helvetica, sans-serif;
  font-family: Frutiger, Open Sans Light, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2em;
  color: colors.$rotary-royal-blue;

  .rotary-text {
    width: 41%;
  }

  .rotary-text,
  .masterbrand {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    // Adjust as needed
  }

  .rotary-masterbrand-signature {
    min-width: 150px;
    max-width: 400px;
    padding: 10px;
    // Adjust if needed
  }

  .rotary-masterbrand-signature-inner {
    display: flex;
    min-width: 150px;
    max-width: 400px;
    align-items: flex-start;
    align-items: center;
    gap: 4%;
  }

  .rotary-text-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligns text to the right */
    max-width: 100%;
  }

  // Ensuring SVGs scale within their containers
  .rotary-text img {
    width: 100%;
    height: 25%;
  }

  .masterbrand {
    height: 60%;
    width: 16%;
  }

  .text-above,
  .text-below {
    font-family: Frutiger-light, Open Sans Light,;
    font-size: 1em;
    text-align: right;
    white-space: nowrap;
    width: 84%;
    margin-left: -4%;
  }

  .text-above {
    position: relative;
    top: 7px;
  }

  .text-below {
    position: relative;
    top: -10px;
  }
}
